#result {
    background-color: aquamarine;
}

.jumbotron {
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    height: 400px;
}