@{
    ViewData["Title"] = "Home Page";
}

@model Pet

<div class="text-center">
    <h1>Tell me about your pet!</h1>
    <form asp-action="Process" asp-controller="Home" method="post">
        <div class="form-group">
            <label asp-for="petName"></label>
            <input asp-for="petName" class="form-control">
            <span asp-validation-for="petName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="petType">Pet Type</label>
            <input asp-for="petType" class="form-control">
            <span asp-validation-for="petType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="petAge">Pet Age</label>
            <input asp-for="petAge" class="form-control">
            <span asp-validation-for="petAge" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>
</div>
