@model Animal
<h1>@Model.Species</h1>
<h2>Number of legs: @Model.numLegs</h2>
<h2>Is a mammal? @{
    if(Model.isMammal)
    {
        <span>Yes</span>
    } else {
        <span>No</span>
    }
    }</h2>
<a href="/delete/@Model.AnimalId" class="btn btn-danger">Delete</a>
<a href="/edit/@Model.AnimalId" class="btn btn-info">Edit</a>